body {
	background-image: url("/imagenes/Poligono.jpg");
	font-family: sans-serif;
	overflow-x: hidden;
}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: .6s;
}
.cuadrado {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555;
     background: #eeeeec;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}

.nav a:hover {
	color: #fff;
	transition: .4s;
}

.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
}

.slide a {
	color: #fff;
	font-size: 36px;
}

#content {
	padding: 20px;
	transition: margin-left 0.6s;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("/imagenes/Poligono.jpg");
}

b {
	position: absolute;
	top: 7%;
	left: 84%;
	transform: translate(-50%, -50%);
	width: 94px;
	height: 28px;
	line-height: 29px;
	text-align: center;
	border: 2px solid white;
	font-size: 14px;
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 200px rgba(255, 255, 255, .5);
	overflow: hidden;
}

b span {
	display: inline-block;
	transition: .5s
}

b span:nth-child(odd):before {
	content: attr(data-text);
	position: absolute;
	transform: translateY(100%)
}

b span:nth-child(odd) {
	transform: translateY(-100%);
}

b:hover span:nth-child(odd) {
	transform: translateY(0%);
}

b span:nth-child(even):before {
	content: attr(data-text);
	position: absolute;
	transform: translateY(-100%)
}

b span:nth-child(even) {
	transform: translateY(100%);
}

b:hover span:nth-child(even) {
	transform: translateY(0%);
}

body {
	margin: 0;
	padding: 0;
	font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	background-color: #ffff;
}

bodyOfevents {
	top: 50px;
	left: 48%;
	margin: 0;
	padding: 0;
	line-height: 26.4px;
	background-color: #ffff;
}
imagen{
display:block;
margin:auto;
}
ul {
	position: absolute;
	top: 7%;
	left: 48%;
	transform: translate(-50%, -50%);
	display: flex;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

ul li a {
	position: relative;
	display: block;
	padding: 10px 15px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 2px;
	background: #262626;
	transform: scaleX(0);
	z-index: -1;
	transform-origin: right;
	transition: transform .5s;
}

ul li a:hover:before {
	transform: scaleX(1);
	transform-origin: left
}

ul li a:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0%;
	width: 100%;
	height: 2px;
	background: #262626;
	transform: scaleX(0);
	z-index: -1;
	transform-origin: left;
	transition: transform .5s;
}

ul li a:hover:after {
	transform: scaleX(1);
	transform-origin: right
}

/* LO DE LA TABLA */

.datagrid table { 
		border-collapse: collapse;
		text-align: left; width: 100%;
		} 
	.datagrid {
		font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
		background: #fff;
		overflow: hidden;
		border: 4px solid #27F587;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		}
	.datagrid table td, .datagrid table th {
		padding: 15px 18px;
		}
	.datagrid table thead th {
		background:-webkit-gradient(
		linear, left top, left bottom, color-stop(0.05, #0FCFFF), color-stop(1, #1540CF) );
		background:-moz-linear-gradient( center top, #0FCFFF 5%, #1540CF 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0FCFFF', endColorstr='#1540CF');
		background-color:#0FCFFF;
		color:#FFFFFF;
		font-size: 17px;
		font-weight: bold;
		border-left: 1px solid #27F788;
		} 
	.datagrid table thead th:first-child {
		border: none;
		}
	.datagrid table tbody td { 
		color: #00496B;
		border-left: 1px solid #E1EEF4;
		font-size: 16px;
		font-weight: normal;
		}
	.datagrid table tbody .alt td {
		background: #E1EEF4;
		color: #0078B0;
		}
	.datagrid table tbody td:first-child {
		border-left: none;
		}
	.datagrid table tbody tr:last-child td { 
		border-bottom: none;
		}
	.datagrid table tfoot td div {
		border-top: 1px solid #27F587;
		background: #E1EEF4;
		}
	.datagrid table tfoot td {
		padding: 0;
		font-size: 13px
		}
	.datagrid table tfoot td div{
		padding: 7px;
		}
	.datagrid table tfoot td ul {
		margin: 0;
		padding:0;
		list-style: none;
		text-align: right;
		}
	.datagrid table tfoot  li {
		display: inline;
		}
	.datagrid table tfoot li a {
		text-decoration: none;
		display: inline-block;  
		padding: 2px 8px;
		margin: 1px;
		color: #FFFFFF;
		border: 1px solid #27F788;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px; 
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0FCFFF), color-stop(1, #1540CF) );
		background:-moz-linear-gradient( center top, #0FCFFF 5%, #1540CF 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0FCFFF', endColorstr='#1540CF');background-color:#0FCFFF;
		}
	.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
		text-decoration: none;
		border-color: #008FD6;
		color: #FFFFFF;
		background: none;
		background-color:#1540CF;
		}
	div.dhtmlx_window_active, div.dhx_modal_cover_dv {
		position: fixed !important;
		}

	div#tabla{
		
		
		margin: auto;
		margin-top:80px;
		width: 800px;
		height: 240px;
		
	}