/* Importación del resto de archivos CSS
 ========================================================================== */
 /*@import 'reset.css';


/* Estilos generales para toda la web
 ========================================================================== */
header{
            position: relative;
            top: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .videoBackground{
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%)
            translateY(-50%)
        }
        .tituloInicio{
            font-family: 'Pacifico', cursive;
            font-size: 40px;
            color: white;
            text-align: center;
            text-shadow: 1px 1px 5px black;
            margin: 0%;
            font-family: 'Pacifico', cursive;
        }
        .logo{
            width: 60px;
            filter: drop-shadow(1px 1px 1px black);
            text-size-adjust: 60%;
            align-items: center;
            margin-left: 5px;
        }

        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
        }

        .textoBox{
            bottom: 55%;
            font-family: 'Pacifico', cursive;
            font-size: 40px;
            position: absolute;
            color: white;
            text-align: center;
            height: 70px;
            width: 450;
        }
        .Pbox{
            display: unset;
        }

        .search-box{
            bottom: 40%;
            display: inline-block;
            position: absolute;
            border-radius: 50px;
            border: 5px solid #ccc;
        }
        .search-box span {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -13px;
            right: -15px;
            transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
        }
        .search-box span:before, .search-box span:after {
            content: '';
            height: 25px;
            border-left: solid 5px #ccc;
            position: absolute;
            transform: rotate(-45deg);
        }
        .search-box span:after {
            transform: rotate(45deg);
            opacity: 0;
            top: -20px;
            right: -10px;
            transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
        }
        input {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            font-weight: bold;
            width: 54px;
            height: 54px;
            border: none;
            box-sizing: border-box;
            border-radius: 50px;
            background: #1a1a1a;
            transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
            color: #ccc;
        }
        .search-box input:focus {
            outline: none;
        }
        .search-box input:focus, .search-box input:not(:placeholder-shown) {
            width: 300px;
            transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
            padding: 5%;
            padding-right: 15%;
        }
        .search-box input:focus + span, .search-box input:not(:placeholder-shown) + span {
            bottom: 13px;
            right: 10px;
            transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
        }
        .search-box input:focus + span:after, .search-box input:not(:placeholder-shown) + span:after {
            top: 0;
            right: 10px;
            opacity: 1;
            transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
        }
        .container{
            position: absolute;
            bottom: 25%;
        }
        .btn {
        	left: 180%;
            position: relative;
            display: inline-block;
            width: 277px;
            height: 50px;
            font-size: 1em;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;
            cursor: pointer;
            text-decoration:none;
            font-family: 'Roboto', sans-serif;
            font-weight:900;
            font-size:17px;
            letter-spacing: 0.045em;
        }

        .btn svg {
            position: absolute;
            top: 0;
            left: 0;
        }

        .btn svg rect {
            //stroke: #EC0033;
            stroke-width: 4;
            stroke-dasharray: 353, 0;
            stroke-dashoffset: 0;
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
        }

        .btn span{
            background: white;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .btn:hover svg rect {
            stroke-width: 4;
            stroke-dasharray: 196, 543;
            stroke-dashoffset: 437;
        }
