body {
	background-image: url("/imagenes/Poligono.jpg");
	font-family: sans-serif;
	overflow-x: hidden;
}

.rect {
	width: 500px;
	height: 100px;
	border: 3px solid #555;
	background: #428bca;
	left: 50%;
}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: .6s;
}

.cuadrado {
	width: 100px;
	height: 100px;
	border: 3px solid #555;
	background: #eeeeec;
}

.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}

.nav a:hover {
	color: #fff;
	transition: .4s;
}

.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
}

.slide a {
	color: #fff;
	font-size: 36px;
}

#content {
	padding: 20px;
	transition: margin-left 0.6s;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("/imagenes/Poligono.jpg");
}

b {
	position: absolute;
	top: 7%;
	left: 84%;
	transform: translate(-50%, -50%);
	width: 94px;
	height: 28px;
	line-height: 29px;
	text-align: center;
	border: 2px solid white;
	font-size: 14px;
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 200px rgba(255, 255, 255, .5);
	overflow: hidden;
}

b span {
	display: inline-block;
	transition: .5s
}

b span:nth-child(odd):before {
	content: attr(data-text);
	position: absolute;
	transform: translateY(100%)
}

b span:nth-child(odd) {
	transform: translateY(-100%);
}

b:hover span:nth-child(odd) {
	transform: translateY(0%);
}

b span:nth-child(even):before {
	content: attr(data-text);
	position: absolute;
	transform: translateY(-100%)
}

b span:nth-child(even) {
	transform: translateY(100%);
}

b:hover span:nth-child(even) {
	transform: translateY(0%);
}

input[type=submit] {
	background-color: #6699FF;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

div#botones {
	position: absolute;
    top: 1%;
    left: 18%;
	margin: auto;
	margin-top: 0px;
	width: 450px;
	height: 80px;
}

div#boton1 {
	width: 150px;
	height: 80px;
	float: left;
}

div#boton2 {
	width: 150px;
	height: 80px;
	float: left;
}

div#boton3 {
	width: 150px;
	height: 80px;
	float: left;
}