/* Importación del resto de archivos CSS
 ========================================================================== */
 /*@import 'reset.css';


/* Estilos generales para toda la web
 ========================================================================== */
 		html{
            height: 97%;
        }
        body{
            height: 100%;
            background-image: url("/imagenes/Poligono.jpg");
            
        }

        header{
            position: relative;
            top: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        .tituloInicio{
            font-family: 'Pacifico', cursive;
            font-size: 40px;
            color: white;
            text-align: center;
            text-shadow: 1px 1px 5px black;
            margin: 0%;
            font-family: 'Pacifico', cursive;
        }
        .logo{
            width: 60px;
            filter: drop-shadow(1px 1px 1px black);
            text-size-adjust: 60%;
            align-items: center;
            margin-left: 5px;
        }

        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            
        }
        
        .calendario{
        position: absolute;
        height: 70%;
        left: 5%;
        width: 60%;
        margin-top: 3%;
        }

        .quickAdd{
        font-family: 'Pacifico',cursive;
        position: absolute;
        height: 10%;
        width: 20%;
        bottom: 70%;
        right: 7%;
        }
       

        .delete{
        font-family: 'Pacifico',cursive;
        position: absolute;
        height: 10%;
        width: 20%;
        bottom: 40%;
        right: 7%;   
        }
        
        .container{
            position: absolute;
            bottom: 11%;
            right: 7%;
        }
        .btn {
            position: relative;
            display: inline-block;
            width: 277px;
            height: 50px;
            font-size: 1em;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;
            cursor: pointer;
            text-decoration:none;
            font-family: 'Roboto', sans-serif;
            font-weight:900;
            font-size:17px;
            letter-spacing: 0.045em;
        }

        .btn svg {
            position: absolute;
            top: 0;
            left: 0;
        }

        .btn svg rect {
            //stroke: #EC0033;
            stroke-width: 4;
            stroke-dasharray: 353, 0;
            stroke-dashoffset: 0;
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
        }

        .btn span{
            background: white;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .btn:hover svg rect {
            stroke-width: 4;
            stroke-dasharray: 196, 543;
            stroke-dashoffset: 437;
        }
        