<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginGoogleController</servlet-name>
    <servlet-class>aiss.controller.LoginGoogleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGoogleController</servlet-name>
    <url-pattern>/LoginGoogle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
   </context-param>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>aiss.api.ArtistApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/Calendario.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlablacarSearchController</display-name>
    <servlet-name>BlablacarSearchController</servlet-name>
    <servlet-class>aiss.controller.BlablacarSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlablacarSearchController</servlet-name>
    <url-pattern>/BlablacarSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketmasterResource</display-name>
    <servlet-name>TicketmasterResource</servlet-name>
    <servlet-class>aiss.model.resource.TicketmasterResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketmasterResource</servlet-name>
    <url-pattern>/TicketmasterResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventKeywordTicketMasterController</display-name>
    <servlet-name>EventKeywordTicketMasterController</servlet-name>
    <servlet-class>aiss.controller.EventKeywordTicketMasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventKeywordTicketMasterController</servlet-name>
    <url-pattern>/EventKeywordTicketMasterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarInsertController</display-name>
    <servlet-name>CalendarInsertController</servlet-name>
    <servlet-class>aiss.controller.CalendarInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarInsertController</servlet-name>
    <url-pattern>/CalendarInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarDeleteController</display-name>
    <servlet-name>CalendarDeleteController</servlet-name>
    <servlet-class>aiss.controller.CalendarDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarDeleteController</servlet-name>
    <url-pattern>/CalendarDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarQuickAddController</display-name>
    <servlet-name>CalendarQuickAddController</servlet-name>
    <servlet-class>aiss.controller.CalendarQuickAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarQuickAddController</servlet-name>
    <url-pattern>/CalendarQuickAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarInsertControllerBlablacar</display-name>
    <servlet-name>CalendarInsertControllerBlablacar</servlet-name>
    <servlet-class>aiss.controller.CalendarInsertControllerBlablacar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarInsertControllerBlablacar</servlet-name>
    <url-pattern>/CalendarInsertControllerBlablacar</url-pattern>
  </servlet-mapping>
</web-app>